header {
  height: 100px;
  width: 100vw;
  background-color: rgb(26, 26, 26);
}

header > div {
  height: 100%;
  width: 100%;
  background: rgb(81, 139, 122);
  max-width: 1000px;
  margin: 0 auto;
}

main {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: rgb(119, 50, 50);
}

main > div {
  height: 100%;
  width: 100%;
  background-color: rgb(211, 211, 211);
  max-width: 1000px;
  margin: 0 auto;
}
