body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(4, 117, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outer {
  background-color: rgb(31, 124, 109);
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner {
  background-color: rgb(120, 172, 148);
  height: 80%;
  width: 80%;
}

.circle {
  background-color: rgb(8, 55, 99);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 200px;
}
.right {
  right: 200px;
}
